[submodule "themes/blowfis"]
	path = themes/blowfis
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/blow"]
	path = themes/blow
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/blowfishh"]
	path = themes/blowfishh
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
